/*  your css code here. If applicable */
body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	margin:0;
}
#box{
	color:purple;
	background-color:lightblue;
	width:200px;
	height:200px;
	border:2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
}